<section class="todoapp">
  <header class="header">
    <div class="container" [formGroup]="form">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        formControlName="title"
        type="text"
        (keydown.enter)="addTask()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="canSeeActions()">
      <ul class="todo-list">
        <li [ngClass]="getMode(task)" *ngFor="let task of tasks">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (click)="onCheck($event, task)"/>
            <label (dblclick)="editTask(task)">{{task.title}}</label>
            <button class="destroy"></button>
          </div>
          <input #editField class="edit" [value]="task.title" (keydown.escape)="cancel(task)" (keydown.enter)="saveEdit(task, $event)"/>
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="canSeeActions()">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{getCounter()}}</strong></span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters" >
        <li>
          <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">All</a>
        </li>
        <li>
          <a routerLink="/pending" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Pending</a>
        </li>
        <li>
          <a routerLink="/completed" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearCompleted()" *ngIf="canSeeCompletedAction()">Clear completed</button>
    </footer>
  </div>
</section>
